/* @font-face */
@font-face {
    font-family: "gellix-regular";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gellix-Regular.eot?');
    src: local("Gellix-Regular"), url("../fonts/Gellix-Regular.woff") format("woff"), url("../fonts/Gellix-Regular.ttf") format("truetype"), url("../fonts/Gellix-Regular.svg#Gellix-Regular") format("svg");
}

@font-face {
    font-family: "gellix-bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gellix-Bold.eot?');
    src: local("Gellix-Bold"), url("../fonts/Gellix-Bold.woff") format("woff"), url("../fonts/Gellix-Bold.ttf") format("truetype"), url("../fonts/Gellix-Bold.svg#Gellix-Bold") format("svg");
}

header{
    background-image: url('../images/Rectangle.png');
}

/* =========================================== page index.html ================ */

body{
    background-color: #FAF8F8;
    /* font-family:"gellix-bold"; */
}

.bFilter{
    background-color: #FAFAFA;
}

.textMute{
    color: #AEAEAE;
    font-weight: 600;
}
.txtSubscription{
    color: #000000;	
    /* font-family: Gellix;	 */
    font-size: 16px;	
    font-weight: 550;	
    letter-spacing: 0.5px;	
    line-height: 19px;
}
.tableHead{
    background-color: #FAFAFA;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    color: #AEAEAE;
}
.tableHeader tr th,.table-responsive tr td{
    padding-left: 1.5rem;
    /* padding: 0 0 0 1.25rem; */
}
.tableHeader{
    box-shadow: none;
    color: #979696;
}
.btnTabSideBar .nav-item .nav-link.active{
    background-color: #f7d6ff;
    color: #CE00FF;
    border-left: 4px solid #CE00FF;
}
.sideBar{
    background-color:white;
    min-height: 100vh;
}
@media screen and (max-width:600px){
    .sideBar{
        min-height: 20vh;
    }
}
.sideBar .nav .nav-link{
    font-size: 15px;
    color: #888080;
    font-weight: 600;
    font-family:"gellix-bold";
    padding: 1.3rem;
}
.btnNewCustomer{
    background-color: #CE00FF;
    color: white;
    letter-spacing: .05rem;
    min-height: 3.3rem;
    max-height: 4.5rem;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 630;
    padding:1rem 1.8rem;
    letter-spacing: .3rem;
}
@media screen and (max-width:600px){
    .btnNewCustomer{
        font-size: 12px;
        letter-spacing: 0.1rem;
    }
}
.btnEditSubscription{
    background-color: #CE00FF;
    color: white;
    letter-spacing: .05rem;
    min-height: 3rem;
    max-height: 3.3rem;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 630;
    letter-spacing: .1rem;
}
.btnCancelCustomer{
    font-weight: 700;
    letter-spacing: .05rem;
    min-height: 3.3rem;
    max-height: 4rem;
    border-radius: 25px;
    font-size: 16px;
    letter-spacing: .1rem;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.08);
}
.table-responsive .table{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}
.table-responsive tr td{
    cursor: pointer;
}
.table-responsive .tableHead tr th,.table-responsive .tableHeader tr th,.table-responsive tr td{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.table-responsive tr td{
    font-weight: 600;
    font-size: 14px;
}
.inptGroup{
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.08);
    background-color: #FFFFFF;
    border-radius: 8px;
}
.inptGroup .form-control:focus{
    border: none;
    box-shadow: none;
}
/* ============================================= */
.textPage{
    color: #CE00FF;   
    font-family:"gellix-bold";
}

.headUser .far{
    color: #CE00FF;
    border-radius: 50%;
}

header .media h6{
    font-size: 13px;
}

header .media p{
    font-size: 12px;
}

.dropdown-menu-left{
    left: -50px;
    padding: 0px;
    margin: 0px;
}

.cardSort,.cardFilter,.cardConfirm{
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.2);
}

.cardSort .form-control,.cardFilter .form-control{
    background-color: rgba(233,233,233,0.5);
    height: 44px;
    border: 1px solid #AEAEAE;
}

.btnSort{
    background-color: #CE00FF;
    color: white;
    width: 154px;
    font-size: 14px;
    height: 40px;
    border-radius: 25px;
}

.btnDeactiv{
    background-color: #CE00FF;
    color: white;
    font-size: 12px;
    height: 40px;
    border-radius: 25px;
}

.cardConfirm h6{
    font-size: 18px;
}
.cardConfirm p{
    font-size: 13px;
    /* letter-spacing: .05rem; */
}
.selectStatus label{
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.checkStatus .form-control:focus{
    box-shadow: none;
}
.modal .modal-content{
    max-width: 400px;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.12);
}
.modal{
    background-color: rgba(255, 255, 255, 0.66);
}
.modal .modal-dialog{
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}
.modal .cardFilter,.modal .cardSort,.modal .deleteCustmr{
    border: none;
    box-shadow: none;
    max-width: 400px;
}
/* ======================================================================== */
.newCustomer .form-control{
    background-color: rgba(233,233,233,0.5);
    border: 1px solid #00E0FF;
    height: 50px;
}
.newCustomer label{
    font-size: 14px;
    font-weight: 500;
}
.pointerCursor{
    cursor: pointer;
}
/* ================================================================== */
.txtDetails label{
    color: rgb(163, 163, 163);
    font-size: 13.5px;
    font-weight: 600;
    text-transform: uppercase;
}
.txtDetails p{
    font-size: 15px;
    font-weight: 650;
}
.hedCustomer{
    font-weight: 700;
}
.form-control::placeholder,.form-control option{
    color: #bb9191 !important;		
    font-size: 16px;	
    font-weight: 500;	
    letter-spacing: 0.5px;	
}
.form-control{
    color: black;
    font-size: 16px;	
    font-weight: 500;	
    letter-spacing: 0.5px;	
}
/* ======================================= Pricing Plans =================== */
.featureList{
    background-color: rgb(243, 239, 239);
}
.featureList .fa{
    color: rgb(143, 155, 155);
}

.feature{
    border: 1px solid #AEAEAE;
}
.btnDeletePlan{
    padding-top:2.6rem;
    background-color: white;
}
@media screen and (max-width:600px){
    .btnDeletePlan{
        padding-top: 0.5rem !important;
    }
}
div.wrapper { float:left}
div.wrapper label { float: left; text-align: right;font-weight:bold }
div.wrapper span { float: right; width: 0%; text-align: left; }
div.clearboth { clear: both }